<!DOCTYPE html>
<html>
<head>
	<title>Anime Catalog</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<header>
	<div id="heading">
		<span class="heading-name">
		<a href="/">Anime Catalog</a>
		</span>

		<span class="row-space"></span>

		{% if g.logged_in %}
			<a class="bar-btn" href="{{ url_for('new_item') }}">New</a>
		{% endif %}

		<div class="vertical-space"></div>

		<a class="bar-btn" href="{% if g.logged_in %}{{ url_for('logout') }}{% else %}{{ url_for('login') }}{% endif %}">
		{% if g.logged_in %}Logout{% else %}Login{% endif %}
		</a>
	</div>
</header>

<div class="content">
	<!-- this allows to bypass issue where padding inflates `content` -->
	<div class="content-2">
	{% block content %}
	{% endblock %}

	{% if g.logged_in %}
		<div class="faded current-user">
			Current user: {{ g.user_email }}
		</div>
	{% endif %}
	</div>
</div>

</body>
</html>
