<!DOCTYPE html>
<html>
<head>
	<title>Catalog App</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<header>
	<div id="heading">
		<span class="heading-name">
		<a href="/">Catalog App</a>
		</span>

		<span class="row-space"></span>

		<a class="bar-btn" href="{{ url_for('new_item') }}">
		New
		</a>

		<div class="vertical-space"></div>

		<a class="bar-btn" href="{{ g.auth_uri }}">
		{{ g.button_text }}
		</a>
	</div>
</header>

<div class="content">
	<!-- this allows to bypass issue where padding inflates `content` -->
	<div class="content-2">
	{% block content %}
		<h1>The title</h1>
		Edit me
	{% endblock %}
	</div>
</div>

</body>
</html>
